@use '../styles/globals/' as *;

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-gothic;
  line-height: $lh-normal;
  color: $text-color;
}

.content-width {
  margin: 0 auto;
  max-width: $content-max-width;

  @include mq(md) {
    width: 90%;
  }
}

.container {
  margin-top: 85px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend.tume;
  font-family: $font-gothic;
  line-height: $lh-tight;
}

h1 {
  text-align: center;
  font-family: $font-title-en;
  font-size: 6em;
  font-weight: 200;
  line-height: 1;
  color: rgba($color: #333, $alpha: .6);
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 2em 0;
}

.img-wrapper {
  margin: 2rem 0;
  aspect-ratio: 16/9;

  &>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.catch {
  @extend.tume;
  font-family: $font-gothic;
  font-size: 1.1rem;
  line-height: 1.2;
}