@use '../styles/globals' as *;

.homeSpan {
  display: block;
  font-size: .5em;
  font-weight: 800;
}

.home {
  max-width: 1020px;
  margin: 0 auto;
  padding: 4rem 0;
}

.homeH2 {
  margin: 0 0 .5em;
  &:not(:first-of-type) {
    margin-top: 1.5em;
  }
}

.homeCatch {
  margin-top: 2em;
  line-height: 1;
  text-align: center;
  color: #777;
}

.btn {
  text-align: center;
  & :not(:first-child) {
    margin-left: 2em;
  }
}